<!-- <nz-table [nzData]="users" [nzBordered]="true">
    <thead>
    <tr>
        <th nzWidth="25%">Name</th>
        <th nzWidth="25%">Email</th>
        <th nzWidth="25%">Status</th>
        <th nzWidth="25%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.status }}</td>
        <td>
            <button (click)="toggleUserStatus(user)">
                {{ user.status === 'ACTIVE' ? 'Block' : 'Unblock' }}
            </button>
        </td>
    </tr>
    </tbody>
</nz-table> -->
