<div class="bg">

    <div class="parent">
        <div class="child">
            <div nz-col>
                <h1 style="margin-left: 55px">Client Signup</h1>
              </div>

              <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail!">
                        <input nz-input placeholder="E-mail" formControlName="email" id="email" />
                    </nz-form-control>
                </nz-form-item>

                <!-- <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid password!">
                        <input nz-input type="password" placeholder="Password" formControlName="password" id="email" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid password!">
                        <input nz-input type="password" placeholder="Confirm Password" formControlName="checkPassword" id="email" />
                    </nz-form-control>
                </nz-form-item> -->


                <nz-form-item>
                    <nz-form-control
                        nzHasFeedback
                        [nzErrorTip]="validateForm.get('password')?.hasError('required') ? 'Password is required' : ''">
                        <input nz-input placeholder="Password" formControlName="password" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control
                        nzHasFeedback
                        [nzErrorTip]="validateForm.get('checkPassword')?.hasError('passwordMismatch') ? 'Passwords do not match' : 'Confirm Password is required'">
                        <input nz-input placeholder="Confirm Password" formControlName="checkPassword" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid name!">
                        <input nz-input placeholder="Name" formControlName="name"/>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid lastname!">
                        <input nz-input placeholder="lastname" formControlName="lastname" id="email" />
                    </nz-form-control>
                </nz-form-item>

                <!-- <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid phoneNumber!">
                        <input nz-input placeholder="phone" formControlName="phone" id="email" />
                    </nz-form-control>
                </nz-form-item> -->

                <nz-form-item>
                    <nz-form-control
                        nzHasFeedback
                        [nzErrorTip]="validateForm.get('phone')?.hasError('invalidPhone') ? 'Phone number must contain exactly 10 digits and no special characters!' : 'Phone number is required'">
                        <input nz-input placeholder="Phone" formControlName="phone" />
                    </nz-form-control>
                  </nz-form-item>


                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
                    Register
                  </button>
                  Or <a routerLink="/login"> login now! </a>

              </form>

        </div>
    </div>

</div>
