  <!-- <div class="flex h-screen bg-gray-100 p-6">  -->
    <!-- Sidebar -->
    <!-- <aside class="w-64 bg-gradient-to-r from-teal-600 to-teal-400 rounded-lg mr-6 p-5 shadow-md">
        <ul class="space-y-4 text-custom-dark">
        <li>
          <a routerLink="/partner/dashboard" class="flex items-center px-4 py-2 rounded-lg hover:bg-teal-500">
            <i class="icon-class mr-2"></i> Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/orders" class="flex items-center px-4 py-2 rounded-lg hover:bg-teal-500">
            <i class="icon-class mr-2"></i> Orders
          </a>
        </li>

        <li>
          <a routerLink="/partner/profile" class="flex items-center px-4 py-2 rounded-lg hover:bg-teal-500">
            <i class="icon-class mr-2"></i> Account details
          </a>
        </li>
        <li>
          <a (click)="logout()" class="flex items-center px-4 py-2 rounded-lg hover:bg-teal-500">
            <i class="icon-class mr-2"></i> Logout
          </a>
        </li>
      </ul>
    </aside>
</div> -->


<div class="h-screen w-64 bg-gradient-to-r from-teal-600 to-teal-400 rounded-lg mr-6 p-5 shadow-md">
  <ul class="space-y-4 ">
    <li>
      <a routerLink="/partner/dashboard" class="flex items-center px-4 py-2 rounded-lg hover:bg-teal-500">
        <i class="icon-class mr-2"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/partner/order" class="flex items-center px-4 py-2 rounded-lg hover:bg-teal-500">
        <i class="icon-class mr-2"></i> Orders
      </a>
    </li>
    <li>
      <a routerLink="/partner/profile" class="flex items-center px-4 py-2 rounded-lg hover:bg-teal-500">
        <i class="icon-class mr-2"></i> Account details
      </a>
    </li>
    <li>
      <a routerLink="/partner/chat" class="flex items-center px-4 py-2 rounded-lg hover:bg-teal-500">
        <i class="icon-class mr-2"></i> Chat
      </a>
    </li>

    <li>
      <a (click)="logout()" class="flex items-center px-4 py-2 rounded-lg hover:bg-teal-500">
        <i class="icon-class mr-2"></i> Logout
      </a>
    </li>
  </ul>
</div>
