<div class="bg-white shadow-lg rounded-lg p-6">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-lg font-semibold text-gray-800" style="margin-left: 250px;">All Categories</h2>
    <div class="flex space-x-2">
      <input type="text"
             [(ngModel)]="searchQuery"
             (ngModelChange)="onSearchQueryChange()"
             class="border rounded-lg p-2"
             placeholder="Search Categories" />
      <button [routerLink]="['/admin/add-category']" routerLinkActive="router-link-active"
        class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg" style="margin-left: 10px;">
        Add New Category
      </button>
      <button [routerLink]="['/admin/add-subcategory']" routerLinkActive="router-link-active"
        class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg">
        Add Sub Category
      </button>
    </div>
  </div>

  <div class="flex flex-col w-full" style="margin-left: 50px;">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-md rounded-lg bg-gray-50">
          <table class="w-full text-center text-sm font-light text-gray-700">
            <thead class="bg-gray-100">
              <tr>
                <th scope="col" class="px-6 py-4">Categories</th>
                <th scope="col" class="px-6 py-4">Actions</th>
                <th scope="col" class="px-6 py-4">Subcategories</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let c of paginatedCategories">
                <tr class="border-b last:border-none hover:bg-gray-200">
                  <td class="whitespace-nowrap px-6 py-4">
                    <div class="text-gray-900 font-medium">{{ c.name }}</div>
                    <div class="text-gray-600 text-sm">{{ c.description }}</div>
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    <div class="flex space-x-4 justify-center">
                      <button (click)="openEditModal(c)" class="text-blue-500 hover:text-blue-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 20h9M16.586 3.414a2 2 0 00-2.828 0L4 13.172V16h2.828l9.758-9.758a2 2 0 000-2.828z" />
                        </svg>
                      </button>
                      <button (click)="deleteCategory(c.id)" class="text-red-500 hover:text-red-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                      </button>
                    </div>
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    <ul class="space-y-1">
                      <li *ngFor="let sub of c.subCategories" class="text-gray-900 bg-gray-100 p-2 rounded-md shadow-sm">
                        {{ sub.name }}
                      </li>
                    </ul>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <mat-paginator
      class="paginator-custom-styles"
      [length]="categories.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
